{%extends 'CARSProject/main.html'%}
{% block content%}
{%include 'CARSProject/stats.html'%}

<br>
<div class = "row">
    <div class = "col">
        <h5>CARSProjects:</h5>
        <hr>
        <br>
        <div class ="row">
            <div class = "col">
                <div class = "card card-body">
                    <form method="get">
                        {{myFilter.form}}
                        <button class ="btn btn-orimary" type = "submit" style = "background-color : rgb(12, 83, 149) ; color: white">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class ="card card-body">
            
            <table class="table">
                <tr>
                    <th></th>
                    <th>Project ID</th>
                    <th>Title of Project</th>
                    <th>Division Head</th>
                    <th>Project No and Buildup id</th>
                    <th>CARS Coordinator</th>
                    <th>Estimate Cost</th>
                    <th>Invited Reasearch Service Provider</th>
                    <th>CARS L1 Selected Institutes</th>
                    <th>Initial Santion Cost</th>
                    <th>Date of Start</th>
                    <th>Objective</th>
                    <th>justification</th>
                    <th>Project Investigator</th>
                    <th>Duration</th>
                    <th>Chairman</th>
                    <th>Member 1</th>
                    <th>Member 2</th>
                    <th>Member 3</th>
                    <th>Member Secretory</th>
                    <th>Installent Date 1</th>
                    <th>Installent 1 Amount</th>
                    <th>Cheque No. 1</th>
                    <th>Equipment Issued at Installment 1</th>
                    <th>Installment 1 Expenditure Statement</th>
                    <th>Installent Date 2</th>
                    <th>Installent 2 Amount</th>
                    <th>Cheque No. 2</th>
                    <th>Equipment Issued at Installment 2</th>
                    <th>Installment 2 Expenditure Statement</th>
                    <th>Installent Date 3</th>
                    <th>Installent 3 Amount</th>
                    <th>Cheque No. 3</th>
                    <th>Equipment Issued at Installment 3</th>
                    <th>Installment 3 Expenditure Statement</th>
                    <th>Installent Date 4</th>
                    <th>Installent 4 Amount</th>
                    <th>Cheque No. 4</th>
                    <th>Equipment Issued at Installment 4</th>
                    <th>Installment 4 Expenditure Statement</th>
                    <th>Total Amount Released</th>
                    <th>Date of Complition</th>
                    <th>Total Utilized Amount</th>

                    
                    
                </tr>
                {% for i in allprojects %}
                <tr>
                    <td><a class = "btn btn-sm btn-info" href="{% url 'updateproject' i.project_id %}">Update</a></td>
                    <td>{{i.project_id}}</td>
                    <td>{{i.Title_of_Project}}</td>
                    <td>{{i.division_head}}</td>
                    <td>{{i.project_no_buildup}}</td>
                    <td>{{i.carscoordinator}}</td>
                    <td>{{i.Estimate_Cost}}</td>
                    <td>{{i.irsp}}</td>
                    <td>{{i.carsl1selectedinstitutes}}</td>
                    <td>{{i.initial_sanction_cost}}</td>
                    <td>{{i.date_of_start}}</td>
                    <td>{{i.objective}}</td>
                    <td>{{i.justification}}</td>
                    <td>{{i.project_investigator}}</td>
                    <td>{{i.duration}}</td>
                    <td>{{i.chairman}}</td>
                    <td>{{i.member_1}}</td>
                    <td>{{i.member_2}}</td>
                    <td>{{i.member_3}}</td>
                    <td>{{i.member_secretory}}</td>
                    <td>{{i.installment_1_date}}</td>
                    <td>{{i.installment_1_amount}}</td>
                    <td>{{i.cheque_no_1}}</td>
                    <td>{{i.Equipment_Issued_at_Installment_1}}</td>
                    <td>{{i.Installment_1_expenditure_statement}}</td>
                    <td>{{i.installment_2_date}}</td>
                    <td>{{i.installment_2_amount}}</td>
                    <td>{{i.cheque_no_2}}</td>
                    <td>{{i.Equipment_Issued_at_Installment_2}}</td>
                    <td>{{i.Installment_2_expenditure_statement}}</td>
                    <td>{{i.installment_3_date}}</td>
                    <td>{{i.installment_3_amount}}</td>
                    <td>{{i.cheque_no_3}}</td>
                    <td>{{i.Equipment_Issued_at_Installment_3}}</td>
                    <td>{{i.Installment_3_expenditure_statement}}</td>
                    <td>{{i.installment_4_date}}</td>
                    <td>{{i.installment_4_amount}}</td>
                    <td>{{i.cheque_no_4}}</td>
                    <td>{{i.Equipment_Issued_at_Installment_4}}</td>
                    <td>{{i.Installment_4_expenditure_statement}}</td>
                    <td>{{i.total_amount_released}}</td>
                    <td>{{i.date_of_complition}}</td>
                    <td>{{i.total_utilized_amount}}</td>
                    
                    
                    
                </tr>
                {% endfor %}
            </table>
        </div>

    </div>
</div>
<br>

    <!-- <div class ="card card-body">
        <a class = "btn btn-primary btn-sm btn-block" href="/gsqr">GSQR</a>                
        </a> -->

    </div>
    {% comment %} <div class = "col-md">
        <h5>Payment</h5>
        <hr>
        <div class ="card card-body">
            <a class = "btn btn-primary btn-sm btn-block" href="/admin">Payment</a>                
            </a>
            <table class="table">
                <tr>
4
                    
                </tr>
            </table>
        </div>

    </div> {% endcomment %}
</div>
{% endblock%}