{%extends 'CARSProject/main.html'%}
{% block content%}
{%include 'CARSProject/stats.html'%}

<br>
<div class = "row">
    <div class = "col">
        <h4>Report Generation:</h4>
        <hr>
        <br>
        <div class ="row">
            <div class = "col">
                <div class = "card card-body">
                    <!-- <form enctype = "multipart/form-data">

                        <button class ="btn btn-orimary" type = "submit" onclick = "location.href = '/projectpdf'" style = "background-color : rgb(12, 83, 149) ; color: white">RSQR commity </button>
                    </form>
                </div>
            </div>
        </div>
        <div class ="row">
            <div class = "col">
                <div class = "card card-body">
                    <form action method="get">

                        <button class ="btn btn-orimary" type = "submit" style = "background-color : rgb(12, 83, 149) ; color: white">Generate RSQR</button>
                    </form>
                </div>
            </div>
        </div> -->
        <div class ="card card-body">
            <a class = "btn btn-primary btn-sm btn-block" href="/projectpdf">IRSP Commity report</a>                
            </a>
        </div>
        

    </div>
</div>
<br>

    
    {% comment %} <div class = "col-md">
        <h5>Payment</h5>
        <hr>
        <div class ="card card-body">
            <a class = "btn btn-primary btn-sm btn-block" href="/admin">Payment</a>                
            </a>
            <table class="table">
                <tr>
4
                    
                </tr>
            </table>
        </div>

    </div> {% endcomment %}
</div>
{% endblock%}