{%extends 'CARSProject/main.html'%}
{% block content%}
{%include 'CARSProject/stats.html'%}
<style>* {box-sizing: border-box}

    /* Add padding to containers */
    .container {
      padding: 16px;
    }
    
    /* Full-width input fields */
    input[type=text], input[type=data_field], input[type= number] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
    }
    
    input[type=number]:focus {
      background-color: #ddd;
      outline: none;
    }
    
    /* Overwrite default styles of hr */
    hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 25px;
    }
    
    /* Set a style for the submit/register button */
    .registerbtn {
      background-color: #04AA6D;
      color: white;
      padding: 16px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
    }
    
    .registerbtn:hover {
      opacity:1;
    }
    
    /* Add a blue text color to links */
    a {
      color: dodgerblue;
    }
    
    /* Set a grey background color and center the text of the "sign in" section */
    .signin {
      background-color: #f1f1f1;
      text-align: center;
    }</style>
<form action="" method = "POST" enctype="multipart/form-data">
  {%csrf_token%}
  <div class="container">
    <h1>Project Intialization</h1>
    <p>Please fill in this form to initialize a project.</p>
    <hr>
  
      <label for="Project_ID"><b>Project_ID</b></label>
      <input type="text" class= "field" placeholder="Project ID (eg. 165)" name="project id"  >
      
      <label for="Project Title"><b>Title_of_Project</b></label>
      <input type="text" class ="field" placeholder="title of the project" name="project title" >
      
      <label for="division_head"><b>Dividion head</b></label>
      <input type="text" class = "field" placeholder="divison_head" name="division head" >
      
      <label for="division_head"><b>Buildup or Project ID</b></label>
      <input type="text" class = "field" placeholder="Buildup or Project ID" name="build up projectid"  >
      
      <label for="division_head"><b>CARS Coordinator</b></label>
      <input type="text" class ="field" placeholder="please provide coordinator name" name="CARS coordinator" >
      
      <label for="total_cost"><b>Estimated  Cost</b></label>
      <input type="text" class = "field" placeholder="total cost for the project" name="total cost"  >
      
      <label for="division_head"><b>CARS L1 Selected Institues </b></label>
      <input type="text" class ="field" placeholder=" name of institutes" name="carsl1selected" >
      <label for="division_head"><b>Inveted Reasearch Service Provider </b></label>
      <br>
      {{formsub.as_p}}
      <hr>
      <input type="submit" name="Submit" class="btn btn-primary">
      <!-- <button type="submit" onclick = "location.href ='/'" class="registerbtn">initialize</button> -->
    </div>
    <!-- <div class ="card card-body">
      <a class = "btn btn-primary btn-sm btn-block" href="/irspcommity">Next page</a>                
    </a>
    
  </div> -->
  <!-- <br>
    <label for="myfile">Select a file:</label>
    <input type="file" id="myfile" name="file"><br>
    <input type="submit"><br> -->
    <!-- <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p> -->
    
    <!-- <div class ="row">
            <div class = "col">
                <div class = "card card-body">
                    <form method="get">

                        <button class ="btn btn-orimary" type = "submit" style = "background-color : rgb(12, 83, 149) ; color: white">Go to RSQR commity page </button>
                    </form>
                </div>
            </div>
        </div> -->
    <!-- <div class="container signin">
      <p>Already have an account? <a href="#">Sign in</a>.</p>
    </div> -->
  </form>
  {% endblock %}