{%extends 'CARSProject/main.html'%}
{% load static %}
{% block content %}
<form action="" method = "POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class = 'card'>
        <div class = 'card-body'>
            <div class="card">
                <div class="card-header">
                  <h1>
                      RSQR and Commity Details

                  </h1>
                </div>
            
            
                {{rsqrform.as_p}}
            
        </div>
    </div>
        
    
    <input type="submit" name="submit" class="btn btn-primary">
</form>
{% endblock %}